<ul>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <button style="width: 80px; height: 35px; margin-top: 10px; background-color: #12E6CA; border: none; font-size: 18px;   font-family: 'Lucida Calligraphy'; border-radius: 25px;" ><a routerLink="">Home</a></button>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <button style="width: 90px; height: 35px; margin-top: 10px; background-color: #00FFA8; border: none; font-size: 18px; font-family: 'Lucida Calligraphy'; border-radius: 25px;"><a routerLink="/addnew">Add new</a></button>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <button style="width: 85px; height: 35px; margin-top: 10px; background-color: #E8EE37; border: none; font-size: 18px; font-family: 'Lucida Calligraphy'; border-radius: 25px;"><a routerLink="/request">Request</a></button>
  &nbsp;&nbsp;&nbsp;&nbsp;
  </ul>
<router-outlet></router-outlet>