<div>
    <iframe [src]="urlSafe" width="1300" height="650" allowfullscreen></iframe>;

</div>
<div>
    <table>
        <tr>
            <td>
                <h2 style="color: bisque;">{{board()}}</h2>
            </td>
            <td>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <button
                    style="width: 100px; height: 40px; margin-top: 10px; background-color: rgb(187, 14, 115); border: none; font-size: 15px; border-radius: 10px;"
                    *ngIf="!validate">Watch Movie</button>
            </td>
        </tr>
    </table>
</div>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-atom" [fullScreen]="true">
    <p style="color: white"> Loading video... </p>
</ngx-spinner>