<br>
    <p align="center" style="color: bisque;">{{result}}</p>
    <div align="center">
    <div class="card">
    <br>
    <br>
    <label >Movie Name</label>
    &nbsp;&nbsp;<input type="text" placeholder="Name of the Movie" [(ngModel)] = "movie">
    <br>
    <br>
    <label >Released in</label>
    &nbsp;&nbsp;<input type="text" placeholder="Year " [(ngModel)] = "year">
    <br>
    <br>
    <button *ngIf="validate()" style="width: 180px; height: 50px; margin-top: 10px; background-color: #E8EE37; border: none; font-size: 15px;   font-family: 'Lucida Calligraphy'; border-radius: 25px;" (click)="sendtodb()" >Submit Request</button>
    <br>
    <br>
    </div>
    </div>
