&nbsp;&nbsp;
<div>
    <mat-form-field class="matwrapper">
        <input class="textinp" type="text" aria-label="Number" placeholder="Search" [(ngModel)]="checking"
            (blur)="onBlur()" (focus)="onFocus()" matInput [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</div>

<div id="makeGird" *ngIf="!focusing">
    <div class="card" *ngFor="let item of arrayOne()">
        <img style="border-radius: 10px; margin-top: 5px;margin-left: 5px; margin-right: 5px; width: 95%; height: 280px; "
            [src]="value[item]['Poster']" (click)="navigate(item)" alt="Poster not available">
        <p style="color: red;" align="center">
            {{value[item]["MovieName"]}}-{{value[item]["Year"]}}
        </p>
    </div>
</div>

<div *ngIf="focusing">
    <div  *ngFor="let item of arrayOne()">
        <div class="card" *ngIf="value[item]['MovieName'] == checking">
            <img style="border-radius: 10px; margin-top: 5px;margin-left: 5px; margin-right: 5px; width: 95%; height: 280px; "
                [src]="value[item]['Poster']" (click)="navigate()" alt="Poster not available">
            <p style="color: red;" align="center">
                {{value[item]["MovieName"]}}-{{value[item]["Year"]}}
            </p>
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-atom" [fullScreen]="true">
    <p style="color: white"> Connecting to Preflix Server... </p>
</ngx-spinner>